<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/public/assets/styles/customStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0/css/bootstrap.min.css" integrity="sha512-NZ19NrT58XPK5sXqXnnvtf9T5kLXSzGQlVZL9taZWeTBtXoN3xIfTdxbkQh6QSoJfJgpojRqMfhyqBAAEeiXcA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title><%= title %></title>

<style>

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    h3 {
        font-weight: 700;
    }

    .layout {
        height: 100vh;
        width: 100vw;   
    }

    .cover-image {
        width: 65%;
        background-color: #0D28A6;
    }

    .form-auth {
        width: 35%;

        display: flex;
        flex-direction: column;
        gap: 20px;

        justify-content: center;
        padding-inline: 50px;
    }

    .box-logo {
        height: 34px;
        width: 100px;
        background-color: #CFD4ED;
    }

    .button-login {
        background-color: #0D28A6;
        color: white;

        width: 100%;
        padding-block: 5px;
        border-radius: 5px;
    }

    .register {
        color: grey;
        margin: 0;
    }

    a {
        text-decoration:none;
    }

</style>